.home {
  &__hero {

    &__slider {
      .slick-dots {
        bottom: 0;

        li {
          button {
            &:before {
              content: '';
              width: 20px;
              height: 2px;
              background: $white;
            }
          }
        }
      }
    }

    &__slide-group {
      @include mq(md) {
        display: flex;
      }
    }
    
    &__slide-image {
      width: 100%;
      height: 0;
      overflow: hidden;
      padding-bottom: 70%;
      position: relative;

      @include mq(md) {
        width: 65%;
        padding-bottom: 31%;
      }

      .-desktop {
        display: none;

        @include mq(md) {
          display: block;
        }
      }

      .-mobile {
        @include mq(md) {
          display: none;
        }      
      }
  
      img {
        position: absolute;
        height: auto;
        width: 100%;
        
        @include mq(md) {
          height: auto;
          width: 100%;

        }
      }
    }

    &__slide-content {
      background: $red;
      padding: 40px;

      @include mq(md) {
        width: 35%;
      }
    }

    &__slide-title {
      font-weight: 900;
    }
  }
}