header.header
  .container
    .header__container
      a.header__logo(href="/")
        img(src="images/logo.png")
      .header__wrapper
        nav.header__nav
          ul.header__nav__list
            li
              a(href="#") Cómo funciona la reserva
            li
              a(href="#") Cómo funciona la compra
            li
              a(href="#") Concesionarios
            li
              a(href="#") Contacto
        .header__hamburguer
          span
          span
          span
